body {
    display: flex;
    flex-direction: column;
    align-items: center;
}  

  #form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    height: 200px;
    width: 300px;
}   */


 input,
button {
    width: 200px
} 
